<!-- thanks maridlcrmn -->
<!-- http://bootsnipp.com/snippets/featured/slide-dropdown-navigation -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-slide-dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/"><img src="https://s3-us-west-1.amazonaws.com/fastfeedback/logo-black.png" class="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-slide-dropdown">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Create<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/questions/new">New Question</a></li>
                <li><a href="#/surveys/new">New Survey</a></li>
              </ul>                
            </li>
            <% if (current_user.attributes.email) { %>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.escape('email') %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#/my_polls">My Polls</a></li>
                  <li><a href="#/my_account">My Account</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" class="sign-out">Sign Out</a></li>
                </ul>
              </li>
            <% } else { %>
              <li><a href="#/users/new" class="sign-up">Sign Up</a></li>
              <li><a data-toggle="modal" data-target="#loginModal" href="#/login" class="log-in">Log In</a></li>
            <% } %>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
        <form class="form col-xs-12 center-block" role="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input name="user[email]"
                   type="email"
                   class="form-control input-lg"
                   id="email"
                   placeholder="yourname@example.com"
                   tabindex="10">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="user[password]"
                   type="password"
                   class="form-control input-lg"
                   id="password"
                   placeholder="password"
                   tabindex="11">
          </div>
          <div class="form-group">
            <button id="submit" class="btn btn-primary btn-lg btn-block modal-sign-in" tabindex="12">Sign In</button>
            <div class="text-center"><a href="javascript:void(0)">Register</a></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>    
      </div>
    </div>
  </div>
</div>
