<header class="navbar navbar-default nav-pills" role="navigation" id="header">
  <div class="row">
    <div class="logo col-sm-4">
      <a href="/"><img src="https://fastfeedback.s3-us-west-1.amazonaws.com/logo-white.png" class="logo"></a>
    </div>
    <div class="create col-sm-4">
      <div class="create-buttons">
        <a class="btn btn-default" href="#/questions/new" role="button">New Question</a>
        <button class="btn btn-default">New Survey</button>
      </div>
    </div>
    <div class="auth col-sm-4">
      <div class="auth-buttons">
        <% if (!false) { %>
          <button class="btn btn-primary btn-sm sign-out">Sign Out</button>
        <% } else { %>
          <button class="btn btn-primary btn-sm sign-up">Sign Up</button>
          or
          <button class="btn btn-primary btn-sm log-in">Log In</button>
        <% } %>
      </div>
    </div>
  </div>
</header>