<div id="slideshow">
  <img src="app/assets/images/backgrounds/high-schoolers.jpg" class="bgM">
  <img src="/backgrounds/kids-in-class.jpg" class="bgM">
  <img src="/backgrounds/raised-hands.jpg" class="bgM">
</div>

<div class="container" id="landing-content">
  <h1>FastFeedback</h1>
  <div class="row">
    <div class="col-sm-6">
      <h2>Poll your audience in real-time via SMS text and the web.</h2>
      <p><a class="btn btn-primary btn-lg" href="#/questions/new" role="button" id="primary-create-button" tabindex="1">Create a Question</a></p>
      <p id="footnote">No registration is required, and you'll start receiving live responses right away.</p>
    </div>
    <div id="registration" class="col-sm-6">
      <p>Registered Users can save response data and organize multiple questions into surveys.</p>
      <div class="body-auth-buttons">
        <a href="/users/new" class="btn btn-primary sign-up" tabindex="2">Sign Up</a>
        <span id="or">or</span>
        <button class="btn btn-primary log-in" tabindex="3">Log In</button>
      </div>
    </div>
  </div>
</div>
