<label>
  Answer <%= answer.escape('ord') %>:
  <input type="text" maxlength="40"
         name="question[answers_attributes][<%= answer.escape('ord') %>][text]">
  <input type="hidden"
         name="question[answers_attributes][<%= answer.escape('ord') %>][ord]"
         value="<%= answer.escape('ord') %>">
</label>