<h1>New Survey</h1>

<label>
  Survey Title
  <input type="text" id="survey-title" name="survey[title]">
</label>

<div class="questions">
</div>

<button id="save-survey-title">Publish Survey</button>