<h1><strong>Survey:</strong> <%= survey.escape('title') %></h1>

<h2>Questions in this survey:</h3>
<ol>
  <% questions.forEach(function (question) { %>
    <li class="question-item"><%= question.escape('title') %></li>
  <% }) %>
</ol>

<% if (questions.models[0]) { %>
  <a id="start-survey" class="btn btn-primary btn-lg" href="#/surveys/<%= survey.id %>/browse" tabindex="1">Browse Survey</a>
<% } %>