<div class="survey-nav">
  <button class="btn btn-default btn-xs prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Previous</button>
  <div class="survey-title"><strong>Survey: </strong><%= survey.escape('title') %></div>
  <div class="position"><strong>Question: </strong><%= ord %>/<%= num_questions %></div>
  <button class="btn btn-default btn-xs next">Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
</div>

<div class="question"></div>