<h1>Create a Survey</h1>

<div class="form-group">
  <label for="survey-title">Survey Title</label>
  <input type="text"
         class="form-control"
         name="survey[title]"
         maxlength="100"
         placeholder="Describe the set of questions that you will be asking">
</div>

<div class="questions"></div>

<button class="add-question">Add another question</button>
<button>Show more options</button>
<button class="publish-survey">Publish My Survey!</button>