<h1><strong>Survey:</strong> <%= survey.escape('title') %></h1>

<% if (questions.models[0]) { %>
  <a href="#/surveys/<%= survey.id %>/browse">Start Survey</a>
<% } %>

<h3>Questions in this survey:</h3>
<% questions.forEach(function (question) { %>
  <div class=".question-item"><%= question.escape('title') %></div>
<% }) %>