<div class="form-group">
  <label for="survey-title" id="survey-title-label">Survey Title:</label>
  <div id="survey-title">
    <%= survey.escape('title') %>
  </div>
  <button class="edit-survey-title btn btn-default">
    Edit Title
  </button>
</div>