<h1>Create a Survey</h1>

<div class="form-group">
  <label for="survey-title" id="survey-title-label">Survey Title</label>
  <input type="text"
         id="survey-title"
         class="form-control"
         name="survey[title]"
         maxlength="100"
         placeholder="Describe the set of questions that you will be asking"
         tabindex="1"
         value="<%= survey.escape('title') %>">
</div>

<div class="questions">
</div>

<hr>

<button class="add-question btn btn-default" tabindex="52">Add a question</button>
<button class="survey-options btn btn-default" tabindex="53">Survey options</button>
<button class="publish-survey btn btn-primary" tabindex="54">Publish My Survey!</button>