<div class="jumbotron">
  <div class="container">
    <div class="widewrapper main">
      <%= image_tag("hands-headline.jpg", class: 'img-responsive headline-img') %>
    </div>
    <h1>FastFeedback</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2>Real-time responses via SMS text and the web.</h2>
        <p>It's totally simple, and you'll start receiving live responses right away.</p>
        <p><a class="btn btn-primary btn-lg" href="#/questions/new" role="button" id="primary-create-button">Create a Question</a></p>
      </div>
      <div id="registration" class="col-sm-6">
        <p>Registered Users can save questions and surveys, view response data at a later time, and organize multiple questions into surveys.</p>
        <div class="body-auth-buttons">
          <button class="btn btn-primary">Sign Up</button>
          or
          <button class="btn btn-primary">Log In</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
