<div class="jumbotron">
  <div class="container">
    
    <h1>FastFeedback</h1>
    <p>Real-time responses via SMS text and the web.</p>
    <p>It's totally simple, and you'll start receiving live responses right away.</p>
    <%= image_tag("sample-chart.png", class: 'sample-chart') %>
    <p><a class="btn btn-primary btn-lg" href="#/questions/new" role="button">Create a Question</a></p>

    <p><strong>Registered Users</strong> can save questions and their responses, as well as organize multiple questions into surveys.</p>
    <div>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Log In</a></p>
      or
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
    </div>

  </div>
</div>
