<h1>Create a Quick Question</h1>

<label class="question">
  Question:
  <textarea name="question[title]" cols="38" rows="3" maxlength="120"></textarea>
</label>

<div class="answers"></div>

<button class="add-answer">Add another answer</button>
<button>Show more options</button>
<% if (!isInSurvey) { %>
  <button class="publish-question">Publish My Question!</button>
<% } %>