<div class="question">
  <strong>Question: </strong><%= question.escape('title') %>
</div>

<p>Vote at <a href="http://localhost:3000/questions/<%= question.id %>/vote">localhost:3000/questions/<%= question.id %>/vote</a></p>

<div class="answers"></div>

<div id="results-chart"></div>