<div class="question-title">
  <strong>Question: </strong><%= question.escape('title') %>
</div>

<div id="instructions">
  <p>Vote at <a href="<%= question.id %>"><span id="host-name">ffb</span>.pw/<%= question.id %></a> <span id="instructions-joiner">OR</span> text a <strong>(code)</strong> to <strong id="phone-number">208-437-7150</strong>.</p>
</div>

<div class="answers"></div>

<div id="results-chart"></div>
