<div class="question">
  <strong>Question: </strong><%= question.escape('title') %>
</div>

<div id="instructions">
  <p>Vote at <a href="/questions/<%= question.id %>/vote"><%= window.location.host %>/questions/<%= question.id %>/vote</a> or text a <strong>(code)</strong> to <strong>208-437-7150</strong>.</p>
</div>

<div class="answers"></div>

<div id="results-chart"></div>
