<div class="question-title">
  <strong>Question <%= question.escape('ord') %>: </strong><%= question.escape('title') %>
  <a data-toggle="modal"
     data-target="#edit-question-modal"
     data-ord="<%= question.escape('ord') %>"
     href="#/edit_question"
     class="edit-question btn btn-default"
  >
    Edit Question
  </a>
</div>

<ul class="answers">
  <% answers.forEach(function (answer) { %>
    <li><%= answer.escape('text') %></li>
  <% }) %>
</ul>

<div id="edit-question-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Edit Question</h1>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>    
      </div>
    </div>
  </div>
</div>
