// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  height: 40px;
  padding-top: 3px;
  padding-left: 13px;
}

.create-buttons {
  margin: 0 auto;
}

.auth {
  /*padding-right: 13px;*/
}

.auth button {
  /*float: right;*/
}

.sample-chart {
  height: 250px;
  margin-bottom: 15px;
}

.create-buttons {
}

#header {
  background-image: none;
  background-color: black;
}

.navbar {
  margin-bottom: 0px;
}

#header button {
  margin-top: 5px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.button-container {
  float: right;
}