// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  height: 35px;
  margin-top: 4px;
  padding-left: 5px;
}

.create-buttons {
  margin: 0 auto;
}

.auth {
  padding-right: 9px;
}

#header .auth button {
  margin-top: 9px;
}

.sample-chart {
  height: 250px;
  margin-bottom: 15px;
}

#header {
  background-image: none;
  background-color: black;
}

.navbar {
  margin-bottom: 0px;
}

#header button {
  margin-top: 5px;
  vertical-align: baseline;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.auth-buttons {
  float: right;
  text-shadow: none;
}

.auth-buttons button {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.create-buttons button {
  margin: 0 4px;
}

.create-buttons {
  width: 250px;
}

#registration {
  margin-top: 48px;
}

.body-auth-buttons {
  width: 170px;
  margin: 0 auto;
}

.sample-chart {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

footer {
  float: right;
  padding: 20px;
}

.jumbotron h1 {
  color: #313038;
}

#primary-create-button {
  display: table;
  margin: 0 auto;
}