// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  height: 35px;
  margin-top: 6px;
  padding-left: 5px;
}

.create-buttons {
  margin: 0 auto;
}

.auth {
  padding-right: 9px;
}

.auth-buttons button {
  margin-top: 9px;
  vertical-align: baseline;
}

.sample-chart {
  height: 250px;
  margin-bottom: 15px;
}

header, nav.navbar.navbar-default.nav-pills, header .container {
  background-image: none;
  background-color: black;
  border: none;
  border-radius: 0px;
}

.navbar {
  min-height: 0px;
}

#header {
  border: none;
  height: 44px;
  border-radius: 0px;
}

header .container {
  width: 100%;
  height: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.auth-buttons {
  float: right;
  text-shadow: none;
}

.create-buttons a {
  margin: 5px 4px;
}

.create-buttons {
  width: 250px;
}

#registration {
  margin-top: 48px;
  font-size: 23px;
}

.body-auth-buttons {
  width: 190px;
  margin: 0 auto;
}

.sample-chart {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

footer {
  padding: 4px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: none;
  background-color: black;
}

footer p {
  float: right;
}

.jumbotron h1 {
  color: #313038;
}

#primary-create-button {
  display: table;
  margin: 25px auto;
}

.headline-img {
  max-height: 350px;
  width: auto;
  margin: 0 auto;
  box-shadow: 5px 4px 20px #AAAAAA;
}

.sign-up {
  margin-right: 4px;
}

.log-in {
  margin-left: 4px;
}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

#landing-content h1 {
  font-size: 70px;
  font-weight: bold;
}

#landing-content {
  background-color: rgba(255, 255, 255, 0.90);
  color: black;
  margin-top: 10%;
  padding: 40px;
  display: table;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#footnote {
  font-size: 18px;
  text-align: center;
}

#or {
  font-size: 18px;
}

#landing-content .btn:focus {
  outline: none;
  box-shadow: 0px 0px 4pt 2pt #75AFD4;
}

.navbar .container {
  width: 100%;
}

.navbar.navbar-default {
  border-radius: 0px;
}

#landing-content .btn {
  -webkit-box-shadow: 2px 2px 8px #808080;
  -moz-box-shadow: 2px 2px 8px #808080;
  box-shadow: 2px 2px 8px #808080;
}

.btn-primary {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #1178b8);
  background-image: -moz-linear-gradient(top, #3498db, #1178b8);
  background-image: -ms-linear-gradient(top, #3498db, #1178b8);
  background-image: -o-linear-gradient(top, #3498db, #1178b8);
  background-image: linear-gradient(to bottom, #3498db, #1178b8);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 1px #666666;
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.btn-primary:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #1988d1);
  background-image: -moz-linear-gradient(top, #3cb0fd, #1988d1);
  background-image: -ms-linear-gradient(top, #3cb0fd, #1988d1);
  background-image: -o-linear-gradient(top, #3cb0fd, #1988d1);
  background-image: linear-gradient(to bottom, #3cb0fd, #1988d1);
  text-decoration: none;
  border: none;
}

.btn-default {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #ebebeb));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #ebebeb 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #ebebeb 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #ebebeb 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #ebebeb 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #ebebeb 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ebebeb',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  color:#474747;
  text-decoration:none;
  text-shadow:0px -1px 0px #ffffff;
}

.btn-default:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #ebebeb 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #ebebeb 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #ebebeb 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #ebebeb 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #ebebeb 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f9f9f9',GradientType=0);
  background-color:#ebebeb;
}

.btn-default:active {
  position:relative;
  top:1px;
}

.btn-default:focus {
  outline: none;
  box-shadow: 0px 0px 2pt 1pt #A8AEB7;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0px 0px 4pt 2pt #5FC1D3;
}

.modal-footer {
  border: none;
}

.modal-dialog {
  width: 400px;
}

.account-buttons {
  margin: 25px 0 11px;
}
