.question {
  font-size: 32px;
  margin: 0 auto;
  width: 780px;
  padding: 20px;
}

.answer {
  font-size: 22px;
  padding: 10px 40px;
}

.answer-prefix {
  font-weight: bold;
  padding-right: 12px;
}

.response-table {
  width: 200px;
}

.table td {
   text-align: center;
}