.survey-form {
  width: 600px;
  margin: 0 30px;
  h1 {
    margin-left: 0px;
  }
  .question-form {
    margin-left: 0px;
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.publish-survey {
  margin: 40px;
  display: block;
}

.new-survey {
  width: 600px;
  margin: 0 30px;
  h1 {
    margin-left: 0px;
  }
  .new-question-container {
    margin: 35px 0;
  }
}

.question-title-field label {
  font-size: 22px;
}

.save-survey-title, .edit-survey-title {
  margin-top: 10px;
}

.save-survey-title.btn-primary {
  margin-top: 20px;
}

#survey-title-label {
  font-size: 18px;
}

div#survey-title {
  font-size: 24px;
}

.survey-title-container .form-group {
  height: 100px;
}

.edit-question .answer-field {
  label {
    font-size: 16px;
    margin-top: 6px;
  }
  input {
    width: 115%;
    margin-left: -48px;
  }
}