.survey-form {
  width: 600px;
  margin: 0 30px;
  h1 {
    margin-left: 0px;
  }
  .question-form {
    margin-left: 0px;
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

#survey-title-label {
  font-size: 21px;
}

.publish-survey {
  margin: 40px;
  display: block;
}