<header class="navbar navbar-default nav-pills" role="navigation" id="header">
  <div class="row">
    <div class="logo col-sm-4">
      <a href="/"><%= image_tag("logo-white.png", class: 'logo') %></a>
    </div>
    <div class="create col-sm-4">
      <div class="create-buttons">
        <button class="btn btn-default">New Question</button>
        <button class="btn btn-default">New Survey</button>
      </div>
    </div>
    <div class="auth col-sm-4">
      <div class="auth-buttons">
        <% if logged_in? %>
          <button class="btn btn-primary btn-sm sign-out">Sign out</button>
        <% else %>
          <button class="btn btn-primary btn-sm sign-up">Sign Up</button>
          or
          <button class="btn btn-primary btn-sm log-in">Log In</button>
        <% end %>
      </div>
    </div>
  </div>
</header>