<header class="navbar navbar-default nav-pills" role="navigation" id="header">
  <div class="row">
    <div class="logo col-sm-4">
      <a href="/"><%= image_tag("logo-white.png", class: 'logo') %></a>
    </div>
    <div class="create col-sm-5">
      <div class="create-buttons">
        <button class="btn btn-default">New Question</button>
        <button class="btn btn-default">New Survey</button>
      </div>
    </div>
    <div class="auth col-sm-3">
      <div class="auth-buttons">
        <button class="btn btn-primary btn-sm">Sign Up</button>
        or
        <button class="btn btn-primary btn-sm">Log In</button>
      </div>
    </div>
  </div>
</header>