<nav class="navbar navbar-default nav-pills" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="my-nav-content">
      <%= image_tag("logo.png", class: 'logo') %>
      <div class="create-buttons">
        <button class="btn btn-default">Create a Question</button>
        <button class="btn btn-default">Create a Survey</button>
      </div>
      <div class="auth">
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</nav>